{{#def.include('template/head')}}
<style media="screen">
  body{
    background: rgb(21, 32, 43);
  }
  .play{
    float: left;
    height: 100%;
    width: 33.33%;
    position:relative;
    user-select: none;
  }
  .play.classic{

  }
  .play .soon{
    height: 100%;
  }
  .play p{
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    color: #1DA1F2;
    width: 50%;
    font-size: 2.2vw;
    font-weight: 500;
  }
  .soon p{
    color: #FFFFFF;
    font-size: 1.7vw;
  }
  .soon img{
    opacity: 0.7;
  }
  .box{
    position: absolute;
    width: 0%;
    height: 100%;
    background: rgb(21, 32, 43);
    top: 0; left: 0; bottom: 0; right: 0;
  }
  .row{
    height: 100%;
    position: absolute;
    width: 100%;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  @media only screen and (max-width: 965px) {
    .play{
      width: 100%;
      height: 33.3%;
    }
    .play p{
      font-size: 5.75vw;
    }
    .soon p{
      font-size: 4.7vw;
    }
    .row{
      height: calc(100% - 2rem);
    }
  }
  @media only screen and (min-width: 676px) and (max-width: 965px) {
    .play p{
      font-size: 2.5vw;
    }
  }
</style>
<div class="row" style="">
  <div class="play">
    <div class="soon one">
      <p class="content">although we try our hardest to filter out nsfw, some might creep through the cracks. be warned!</p>
    </div>
  </div>
  <div class="play classic">
    <p class="content"></p>
  </div>
  <div class="play">
    <div class="soon two">
      <p class="content">click who you think tweeted!</p>
    </div>
  </div>
</div>
<script src="static/blob.js"></script>

<script type="text/javascript">
  $('canvas').click(function(e){
    var x = e.clientX;
    var y = e.clientY;
    var coord = "x=" + x + ", y=" + y;
    var c = this.getContext('2d');
    var p = c.getImageData(x, y, 1, 1).data;
    p = Array.prototype.slice.call(p);
    if(p[3]==0){
      return;
    }
    if(!blob.resize){
      return;
    }
    function easeInBack (t, b, c, d) {
      s = 1.70158;
      return c * (t /= d) * t * ((s + 1) * t - s) + b;
    }
    blob.resize=false;
    let thingy = blob.radius;
    let togrow = window.innerWidth;
    let time = 0;
    if (window.innerWidth<window.innerHeight){
      togrow=window.innerHeight;
    }
    function dothing(){
      blob.radius=easeInBack(time, thingy, togrow, 100);
      thealpha=(100-(time*2.5))/100;
      time++;
      if(time<100){
        setTimeout(dothing, 1);
      }else{
        window.location.href = "https://whotweeted.me/play";
      }
    }
    dothing();
  });
</script>
{{#def.include('template/foot')}}
