{{#def.include('template/head')}}
<style media="screen">
  body{
    background: #1DA1F2;
    overflow:hidden;
  }
  .play{
    float: left;
    height: 100%;
    width: 33.33%;
    position:relative;
    user-select: none;
  }
  .play.classic{

  }
  .play .soon{
    height: 100%;
  }
  .play p{
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    color: #1DA1F2;
    width: 50%;
    font-size: 2.2vw;
    font-weight: 500;
    cursor: pointer;
  }
  img{
    max-width: 100%;
    width: 50%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    cursor: pointer;
  }
  .soon p{
    color: #FFFFFF;
    font-size: 1.7vw;
  }
  .soon img{
    opacity: 0.7;
  }
  .box{
    position: absolute;
    width: 0%;
    height: 100%;
    background: rgb(21, 32, 43);
    top: 0; bottom: 0; right: 0;
  }
  .left0{
     left: 0;
  }
  .row{
    height: 100%;
    display: none;
  }
  .one p{
    color: white;
  }
  .two p{
    color: white;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  @media only screen and (max-width: 750px) {
    .play{
      width: 100%;
      height: 33.3%;
    }
    .play p{
      font-size: 5.75vw;
    }
    .soon p{
      font-size: 4.7vw;
    }
    .row{
      padding:1rem;
      height: calc(100% - 2rem);
    }
  }
</style>
<div class="row" style="">
  <div class="play one">
    <img class="content" id="bidentweet" draggable="false" src="static/img/twitterBiden.png" alt="" style>
    <p class="content">biden</p>
  </div>
  <div class="play classic three">
    <img class="content" draggable="false" src="static/img/twitterWhite.png" alt="">
    <p class="content">classic</p>
  </div>
  <div class="play two">
    <img class="content" id="cattweet" draggable="false" src="static/img/twitterCat.png" alt="">
    <p class="content">cat</p>
  </div>
</div>
<div class="box left0">
  <p></p>
</div>
<script type="text/javascript">
  $(".play.classic .content").each(function( index ) {
    $(this).click(function(){
      $(".play .content").each(function( index ) {
        $(this).unbind();
      });
      anime({
        targets: '.play.classic',
        translateX: window.innerWidth,
        translateY: -window.innerHeight/3.5,
        easing: 'easeInBack',
        complete: function(anim) {
          $(".play.classic img").css('display', 'none');
        }
      });
      anime({
        targets: '.box',
        width: window.innerWidth,
        easing: 'easeInBack',
        complete: function(anim) {
          $(".box").css("width", "100%");
          window.location.replace("play/classic");
        }
      });
      $(".play.classic p").fadeOut(200);
      $(".play.one .content").fadeOut(200);
      $(".play.two").fadeOut(200);
    });
  });
  $(".play.two .content").each(function( index ) {
    $(this).click(function(){
      $(".play .content").each(function( index ) {
        $(this).unbind();
      });
      $(".play.three .content").fadeOut(200);
      $(".play.one .content").fadeOut(200);
      $(".play.two p").fadeOut(200);
      function easeInOutQuad (t, b, c, d) {
        if ((t /= d / 2) < 1) return c / 2 * t * t + b;
        return -c / 2 * ((--t) * (t - 2) - 1) + b;
      }
      var time = 0;
      function spinningcat(){
        $("#cattweet").css({'transform' : 'rotate('+ easeInOutQuad(time, 0, -360*4, 500) +'deg)'});
        time++;
        if(time<500){
          setTimeout(spinningcat, 1);
        }
      }
      spinningcat();
      anime({
        targets: '.play.two',
        translateX: -window.innerWidth,
        easing: 'easeInBack',
        complete: function(anim) {
          $(".play.two img").css('display', 'none');
        }
      });
      $(".box").removeClass("left0");
      setTimeout(function(){
        anime({
          targets: '.box',
          width: window.innerWidth,
          easing: 'easeInBack',
          complete: function(anim) {
            $(".box").css("width", "100%");
            window.location.replace("play/cat");
          }
        });
      }, 50);
    });
  });
  $(".play.one .content").each(function( index ) {
    $(this).click(function(){
      $(".play .content").each(function( index ) {
        $(this).unbind();
      });
      $(".play.three").fadeOut(200);
      $(".play.two").fadeOut(200);
      $(".play.one p").fadeOut(200);
      function easeInOutQuad (t, b, c, d) {
        if ((t /= d / 2) < 1) return c / 2 * t * t + b;
        return -c / 2 * ((--t) * (t - 2) - 1) + b;
      }
      var time = 0;
      function dothing(){
        $("#bidentweet").css({'transform' : 'rotate('+ easeInOutQuad(time, 0, 90, 50) +'deg)'});
        time++;
        if(time<50){
          setTimeout(dothing, 1);
        }
      }
      dothing();
      anime({
        targets: '.play.one',
        easing: 'easeInBack',
        duration: 600,
        translateY: window.innerHeight,
      });
      $(".box").css("width", "100%");
      $(".box").css("height", "0%");
      setTimeout(function(){
        anime({
          targets: '.box',
          height: window.innerHeight,
          easing: 'easeInOutQuad',
          complete: function(anim) {
            $(".box").css("height", "100%");
            window.location.replace("play/biden");
          }
        });
      }, 400);
    });
  });
  $(".row").fadeOut(0);
  $(".row").fadeIn(200);
  function blink_text() {
    $('.blink').fadeOut(500);
    $('.blink').fadeIn(500);
  }
  setInterval(blink_text, 1000);
</script>
{{#def.include('template/foot')}}
