<style media="screen">
  .footertext{
    position: fixed;
    user-select: none;
    margin: auto;
    bottom: 0;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    color: white;
    opacity: 0.45;
    z-index: 100;
    font-size: 1rem;
  }
  .howbox{
    position: absolute;
    width: 100%;
    height: 0%;
    background: #1DA1F2;
    left: 0; bottom: 0; right: 0;
  }
</style>
<div class="howbox">
  <p></p>
</div>
<p class="footertext">
  v{{=it.version || '1.something'}}
  <br>
  Rose Childs
  {{?!it.onhow}}
    <br>
    <a style="color:white;" id="howtext"><u>how to play</u></a>
  {{?}}
</p>
<script type="text/javascript">
  $("#howtext").click(function(){
    $("#howtext").unbind();
    anime({
      targets: '.howbox',
      height: window.innerHeight,
      easing: 'easeInQuad',
      duration: 400,
      complete: function(anim) {
        $(".box").css("height", "100%");
        window.location.replace("how");
      }
    });
  });
</script>
<script>
  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  var firebaseConfig = {
    apiKey: "AIzaSyCO15PvxqO2b-ZmNyA_NLAmJrH82wJbZwk",
    authDomain: "whotweeted-me.firebaseapp.com",
    projectId: "whotweeted-me",
    storageBucket: "whotweeted-me.appspot.com",
    messagingSenderId: "723085680966",
    appId: "1:723085680966:web:ebb9b63b668af116e8c547",
    measurementId: "G-LP2ZTE2N6F"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>
</body>
</html>
