<!DOCTYPE html>
<!--
THANK YOUS:
  Julie for always being there for me;
  Friends for being friendly;
  Liam Egan for the really cool background (https://codepen.io/shubniggurath/pen/EmMzpp) (very cool);
  YOU, for playing the game;
  -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/" target="_blank">
    <script data-ad-client="ca-pub-5894533244347180" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
    <script src="https://js.stripe.com/v3"></script>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.4.0/dist/confetti.browser.min.js"></script>
    <script src="https://unpkg.com/typewriter-effect@2.3.1/dist/core.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-analytics.js"></script>
    <script>
      var firebaseConfig = {
        apiKey: "AIzaSyCO15PvxqO2b-ZmNyA_NLAmJrH82wJbZwk",
        authDomain: "whotweeted-me.firebaseapp.com",
        projectId: "whotweeted-me",
        storageBucket: "whotweeted-me.appspot.com",
        messagingSenderId: "723085680966",
        appId: "1:723085680966:web:ebb9b63b668af116e8c547",
        measurementId: "G-LP2ZTE2N6F"
      };
      firebase.initializeApp(firebaseConfig);
      const analytics = firebase.analytics();
    </script>
    <link rel="stylesheet" href="/static/font.css?v=1">
    <link rel="stylesheet" href="/static/style.css?v=5">
    <link rel="stylesheet" href="/static/loading.css">
    <link rel="shortcut icon" type="image/png" href="/static/img/favicon.png">
    <meta name="twitter:image" content="https://whotweeted.me/static/img/favicon.png">
    <title>{{# def.title || 'whotweeted.me' }}</title>
    <meta name="description" content= "a web game that gets recent tweets and shoves them on your screen, along with 3 profiles that could've tweeted them. can you guess them all right?" />
    <meta name="robots" content= "index, follow">
  </head>
  <body>
    <div style="overflow:hidden;position:relative;width:100%;height:100%;">
